* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
* button {
  cursor: pointer;
}

body {
  font-family: "Inter", sans-serif;
}

.ellipse1 {
  position: absolute;
  top: 0px;
  left: 0px;
  max-width: 1093px;
  width: 100%;
}

.ellipse2 {
  position: absolute;
  max-width: 714px;
  width: 100%;
  top: 206px;
  right: 0px;
  opacity: 80%;
}

nav {
  width: 100%;
  min-height: 10px;
  background-color: transparent;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  z-index: 3;
}
nav .logo {
  width: 229px;
}
nav ul {
  width: 444px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 9px;
  border: 1px;
  gap: 13px;
}
nav ul li a {
  font-size: 16px;
  font-weight: 500;
  color: white;
  text-decoration: none;
}
nav .login {
  display: flex;
  align-items: center;
  gap: 12px;
}
nav .login .basket {
  width: 44px;
  height: 44px;
  border-radius: 8px;
  border: 1px solid rgba(128, 128, 128, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
}
nav .login .basket img {
  width: 20px;
  height: 20px;
}
nav .login .user {
  width: 100px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(102.36deg, #C77EFF 2.45%, #9D2AF3 98.6%);
  color: white;
  font-size: 18px;
  border-radius: 8px;
  border: 1px solid var(--Primitives-Secondary-400, rgb(199, 126, 255));
}
nav .login .user img {
  width: 20px;
  height: 20px;
}

.one {
  max-width: 100%;
  min-height: 780px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  background: var(--Colors-Surface-Dark, rgb(1, 2, 20));
}
.one .header {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: absolute;
  z-index: 3;
}
.one .header h1 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 100px;
  letter-spacing: 2%;
  line-height: 86px;
  color: white;
}
.one .header p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.2px;
  line-height: 25px;
  color: rgb(201, 209, 252);
}
.one .header button {
  width: 154px;
  height: 46px;
  border-radius: 8px;
  background: linear-gradient(275.99deg, #5B58EB 22%, #858AF4 117.69%);
  border: 1px solid var(--Primitives-Primary-400, rgb(133, 138, 244));
}
.one .header button a {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 18px;
  text-decoration: none;
}
.one .bg-logo {
  width: 70%;
  position: absolute;
  right: 0px;
  margin-top: 100px;
}
.one .bg-logo img {
  width: 100%;
  opacity: 1;
}

.two {
  max-width: 100%;
  min-height: 850px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  background: var(--Colors-Surface-Dark, rgb(1, 2, 20));
  position: relative;
}
.two .text {
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.two .text .text_one {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.two .text .text_one h2 {
  font-weight: 500;
  font-size: 58px;
  font-family: "Inter", sans-serif;
  line-height: 58px;
  letter-spacing: -0.5%;
  line-height: 25.2px;
  color: white;
}
.two .text .text_one p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.2px;
  line-height: 27px;
  color: rgb(201, 209, 252);
}
.two .text a {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 4px;
  font-size: 18px;
  color: white;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}
.two .course_cards {
  width: 90%;
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 60px auto;
  gap: 5px;
}
.two .course_cards .card {
  margin: 10px auto;
  max-width: 361px;
  width: 100%;
  height: 276px;
  border-radius: 24px;
  padding: 20px;
  font-family: "Inter", sans-serif;
  box-shadow: -5px 5px 25px 0px rgba(199, 126, 255, 0.3) inset;
  background-color: rgba(4, 2, 6, 0.15);
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: 1s;
}
.two .course_cards .card a {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 13px;
  text-decoration: none;
}
.two .course_cards .card a h4 {
  font-size: 33px;
  font-weight: 400;
  line-height: 36px;
}
.two .course_cards .card a p {
  font-size: 16px;
}
.two .course_cards .card a img {
  position: absolute;
  width: 68px;
  right: 10%;
  bottom: 10%;
}
.two .course_cards .card:hover {
  background: rgb(223, 200, 237);
  background: radial-gradient(circle, rgb(223, 200, 237) 5%, rgb(212, 172, 236) 26%, rgb(204, 150, 236) 42%, rgb(198, 133, 236) 50%, rgb(183, 115, 227) 62%, rgb(165, 94, 216) 74%, rgb(150, 77, 207) 83%, rgb(137, 61, 198) 93%, rgb(134, 59, 194) 96%, rgb(133, 58, 192) 99%, rgb(126, 54, 182) 100%);
  -webkit-box-shadow: 0px 0px 25px 17px rgba(82, 60, 82, 0.59);
  -moz-box-shadow: 0px 0px 25px 17px rgba(82, 60, 82, 0.59);
  box-shadow: 0px 0px 25px 17px rgba(112, 79, 112, 0.59);
  outline: 3px solid rgba(199, 126, 255, 0.3);
  outline-offset: 10px;
}
.two .course_cards .card_top {
  margin-top: 60px;
}
.two .ellipse3 {
  position: absolute;
  max-width: 802px;
  width: 100%;
  left: 20%;
  top: 300px;
  z-index: 1;
}

.three {
  max-width: 100%;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  background: var(--Colors-Surface-Dark, rgb(1, 2, 20));
  position: relative;
}
.three .text {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  z-index: 1;
}
.three .text .start_btn {
  width: 155px;
  height: 40px;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.08);
  color: rgb(255, 255, 255);
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 0.8px;
  border: 1px solid var(--Primitives-Primary-400, rgb(80, 85, 164));
}
.three .text h2 {
  width: 90%;
  font-weight: 500;
  font-size: 58px;
  font-family: "Inter", sans-serif;
  line-height: 58px;
  letter-spacing: -0.5%;
  background: linear-gradient(91.53deg, #FFFFFF 0.73%, #A8B3F9 71.74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.three .text p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.2px;
  line-height: 27px;
  background: var(--Colors-Text-Secondary, rgb(201, 209, 252));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.three .text .learn_btn {
  width: 154px;
  height: 46px;
  border-radius: 8px;
  background: linear-gradient(275.99deg, #5B58EB 22%, #858AF4 117.69%);
  border: 1px solid var(--Primitives-Primary-400, rgb(133, 138, 244));
}
.three .text .learn_btn a {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 18px;
  text-decoration: none;
}
.three .text .learn_btn a img {
  width: 23px;
}
.three img {
  width: 46%;
}
.three .ellipse4 {
  max-width: 1800px;
  min-height: 378px;
  width: 100%;
  position: absolute;
  left: -50px;
  top: -380px;
}

.four {
  max-width: 100%;
  min-height: 360px;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--Colors-Surface-Dark, rgb(1, 2, 20));
}
.four .observed-section {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;
}
.four .observed-section .spacer {
  width: 100%;
  height: 5vh;
}
.four .observed-section .count {
  width: 314px;
  height: 177px;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.16);
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.1);
}
.four .observed-section .count h5 {
  font-size: 23px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
.four .observed-section .count .counter {
  font-size: 3rem;
  text-align: center;
  font-size: 80px;
  font-weight: 300;
}
.four .observed-section .count::before {
  content: "";
  border-radius: 10px;
  z-index: -1;
  background: linear-gradient(78.5deg, rgba(1, 2, 20, 0.16) -7.94%, rgba(255, 255, 255, 0.16) 46.62%, rgba(1, 2, 20, 0.16) 101.17%);
}

.five {
  max-width: 100%;
  min-height: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  gap: 30px;
  background: var(--Colors-Surface-Dark, rgb(1, 2, 20));
}
.five h4 {
  font-size: 33px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  background: var(--Colors-Text-Secondary, rgb(201, 209, 252));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.five .partners {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  align-items: center;
  justify-content: space-between;
}
.five .partners img {
  width: 95%;
  transition: 0.2s;
  cursor: pointer;
  transform: 1s;
  z-index: 1;
}
.five .partners img:hover {
  transform: scale(1.2);
}

.six {
  max-width: 100%;
  min-height: 770px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  background: var(--Colors-Surface-Dark, rgb(1, 2, 20));
  position: relative;
}
.six .text {
  width: 43%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  z-index: 3;
}
.six .text .start_btn {
  width: 155px;
  height: 40px;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.08);
  color: rgb(255, 255, 255);
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 0.8px;
  border: 1px solid var(--Primitives-Primary-400, rgb(80, 85, 164));
}
.six .text h2 {
  width: 90%;
  font-weight: 500;
  font-size: 58px;
  font-family: "Inter", sans-serif;
  line-height: 58px;
  letter-spacing: -0.5%;
  background: linear-gradient(91.53deg, #FFFFFF 0.73%, #A8B3F9 71.74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.six .text p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.2px;
  line-height: 27px;
  background: var(--Colors-Text-Secondary, rgb(201, 209, 252));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.six .text .learn_btn {
  width: 154px;
  height: 46px;
  border-radius: 8px;
  background: linear-gradient(275.99deg, #5B58EB 22%, #858AF4 117.69%);
  border: 1px solid var(--Primitives-Primary-400, rgb(133, 138, 244));
}
.six .text .learn_btn a {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 18px;
  text-decoration: none;
}
.six .cards {
  width: 51%;
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}
.six .cards .card_one {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.six .cards .card_two {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  gap: 20px;
}
.six .cards a {
  text-decoration: none;
}
.six .cards a .card {
  max-width: 398px;
  width: 100%;
  height: 268px;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.16);
  color: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  justify-content: center;
  cursor: pointer;
  transition: 1s;
  z-index: 1;
}
.six .cards a .card:hover {
  background: var(--Primitives-Primary-600, rgb(89, 75, 224));
}
.six .cards a .card h5 {
  font-weight: 500;
  font-size: 23px;
}
.six .cards a .card p {
  font-size: 17px;
  font-weight: 400;
  background: linear-gradient(91.37deg, #FFFFFF 0%, #A8B3F9 124.14%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  line-height: 25px;
}
.six .cards .card::before {
  content: "";
  border-radius: 10px;
  z-index: -1;
  background: linear-gradient(78.5deg, rgba(1, 2, 20, 0.16) -7.94%, rgba(255, 255, 255, 0.16) 46.62%, rgba(1, 2, 20, 0.16) 101.17%);
}
.six .ellipse5 {
  max-width: 1182px;
  min-height: 387px;
  width: 100%;
  position: absolute;
  left: 0px;
  top: -400px;
}

.seven {
  max-width: 100%;
  min-height: 770px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  background: var(--Colors-Surface-Dark, rgb(1, 2, 20));
  position: relative;
}
.seven .ellipse7 {
  position: absolute;
  max-width: 700px;
  width: 100%;
  left: 300px;
  top: 30px;
}
.seven .accordion {
  width: 45%;
  min-height: 90%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  z-index: 1;
}
.seven .accordion h4 {
  font-weight: 400;
  font-size: 37px;
  background: linear-gradient(91.37deg, #FFFFFF 0%, #A8B3F9 124.14%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  letter-spacing: 1px;
  padding-bottom: 10px;
}
.seven .accordion .accordion-item {
  border: 2px solid rgba(255, 255, 255, 0.16);
  overflow: hidden;
  color: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.1);
  padding: 5px;
}
.seven .accordion .accordion-item .accordion-header .accordion-button {
  background-color: transparent;
  color: white;
}
.seven .accordion .accordion-item .accordion-header .accordion-button i {
  color: white;
}
.seven .accordion .accordion-item .accordion-header .accordion-button::after {
  color: white !important;
}
.seven .error {
  color: red;
}
.seven .input-error {
  border: 1px solid red;
}
.seven #thankYouModal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
.seven #modalOverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.seven form {
  width: 50%;
  min-height: 90%;
  border: 2px solid rgba(255, 255, 255, 0.16);
  overflow: hidden;
  color: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.05);
  padding: 5px;
  border-radius: 16px;
  padding: 40px;
  z-index: 1;
}
.seven form h4 {
  font-weight: 400;
  font-size: 37px;
  background: linear-gradient(91.37deg, #FFFFFF 0%, #A8B3F9 124.14%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  letter-spacing: 1px;
  padding-bottom: 10px;
}
.seven form .form {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}
.seven form .form input {
  width: 100%;
  outline: none;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.16);
  overflow: hidden;
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  color: rgba(255, 255, 255, 0.7);
}
.seven form .form input::placeholder {
  letter-spacing: -0.5%;
  background: linear-gradient(91.53deg, #FFFFFF 0.73%, #A8B3F9 71.74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.seven form .form .choose {
  width: 100%;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.16);
  overflow: hidden;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  color: rgba(255, 255, 255, 0.7);
}
.seven form .form .choose .ch_input {
  background-color: transparent;
  border: none;
}
.seven form .form .choose select {
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.7);
  border: none;
  outline: none;
}
.seven form .form .choose select option {
  color: rgb(49, 49, 84);
}
.seven form textarea {
  width: 100%;
  outline: none;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.16);
  overflow: hidden;
  color: rgba(255, 255, 255, 0.7);
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  margin-top: 10px;
}
.seven form textarea::placeholder {
  letter-spacing: -0.5%;
  background: linear-gradient(91.53deg, #FFFFFF 0.73%, #A8B3F9 71.74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  outline: none;
}
.seven form button {
  width: 100%;
  padding: 10px;
  border: 1px;
  border-radius: 8px;
  background: linear-gradient(275.99deg, #5B58EB 22%, #858AF4 117.69%);
  color: rgb(223, 200, 237);
}

footer {
  max-width: 100%;
  height: 100%;
  padding: 0px 0px 0px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--Colors-Surface-Dark, rgb(1, 2, 20));
  border-top: 1px solid var(--Primitives-Primary-300, rgba(168, 179, 249, 0.2));
  position: relative;
}
footer .ellipse8 {
  max-width: 700px;
  width: 100%;
  position: absolute;
  left: 26%;
  bottom: 0px;
  z-index: 1;
}
footer .connect {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  border-right: 1px solid var(--Primitives-Primary-300, rgba(168, 179, 249, 0.2));
}
footer .connect .az_logo {
  max-width: 370px;
  width: 100%;
  padding: 40px 0px 0px 0px;
}
footer .connect .images {
  display: flex;
  gap: 10px;
}
footer .connect .text_main {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 50px;
}
footer .connect .text_main .text_href {
  display: flex;
  gap: 10px;
}
footer .connect .text_main .text_href a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  color: var(--Primitives-Primary-200, rgb(201, 209, 252));
}
footer .connect .text_main .text_href .term_text {
  border-right: 1px solid rgb(201, 209, 252);
  padding: 0px 10px 0px 0px;
}
footer .connect .text_main p {
  font-weight: 400;
  font-size: 16px;
  color: var(--Primitives-Primary-200, rgb(201, 209, 252));
}
footer .link {
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
footer .link h3 {
  font-weight: 500;
  font-size: 48px;
  color: var(--Primitives-Primary-200, rgb(201, 209, 252));
  padding: 40px 0px 0px 40px;
}
footer .link p {
  width: 65%;
  font-weight: 400;
  font-size: 18px;
  color: var(--Primitives-Primary-200, rgb(201, 209, 252));
  padding: 0px 0px 0px 40px;
}
footer .link form {
  display: flex;
  gap: 10px;
  padding: 0px 0px 20px 40px;
  z-index: 2;
}
footer .link form input {
  width: 38%;
  outline: none;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.16);
  overflow: hidden;
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  color: rgba(255, 255, 255, 0.7);
}
footer .link form input::placeholder {
  letter-spacing: -0.5%;
  background: linear-gradient(91.53deg, #FFFFFF 0.73%, #A8B3F9 71.74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
footer .link form .learn_btn {
  width: 20%;
  height: 46px;
  border-radius: 8px;
  background: linear-gradient(275.99deg, #5B58EB 22%, #858AF4 117.69%);
  border: 1px solid var(--Primitives-Primary-400, rgb(133, 138, 244));
}
footer .link form .learn_btn a {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 18px;
  text-decoration: none;
}
footer .link form .learn_btn a img {
  width: 23px;
}
footer .link .phone {
  width: 100%;
  min-height: 90px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--Primitives-Primary-400, rgba(133, 138, 244, 0.2));
  padding: 0px 40px 0px 40px;
}
footer .link .phone .one_text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
footer .link .phone .one_text span {
  font-size: 16px;
  color: White;
  font-weight: 400;
}

.category {
  max-width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.category h3 {
  font-size: 47px;
  font-weight: 500;
}
.category .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.category .buttons button {
  width: auto;
  height: 36px;
  padding: 10px;
  border: 1px solid var(--Primitives-Primary-700, rgb(77, 60, 198));
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  color: var(--Primitives-Primary-900, rgb(54, 48, 127));
}
.category #cards {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 20px;
}
.category #cards .card {
  max-width: 325px;
  min-height: 387px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  border-radius: 10px;
  border: 1px solid rgb(226, 226, 227);
}
.category #cards .card .card_img {
  max-width: 380px;
  min-height: 234px;
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.category #cards .card h5 {
  font-size: 19px;
  font-weight: 500;
  padding-left: 15px;
  color: var(--Primitives-Primary-950, rgb(33, 28, 74));
  padding-top: 0px;
}
.category #cards .card p {
  font-size: 14px;
  font-weight: 400;
  padding-left: 15px;
  color: var(--Primitives-Neutral-900, rgb(86, 86, 89));
  padding-top: 10px;
}
.category #cards .card .basket_btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  border: none;
}
.category #cards .card .basket_btn .basket {
  width: 38px;
  height: 38px;
}
.category #cards .card .price {
  width: 100%;
  min-height: 40px;
  height: 100%;
  padding: 15px;
  border-top: 1px solid var(--Primitives-Neutral-200, rgb(226, 226, 227));
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.category #cards .card .price h6 {
  color: var(--Primitives-Primary-500, rgb(91, 88, 235));
  font-weight: 500;
  font-size: 19px;
  position: absolute;
  right: 15px;
}
.category #cards .card .price .buy_btn {
  max-width: 100px;
  width: 100%;
  height: 30px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  opacity: 0;
  background: none;
  position: absolute;
  right: 15px;
  transition: 0.3s;
}
.category #cards .card .price .buy_btn span {
  font-weight: 400;
  color: rgb(91, 88, 235);
  font-size: 16px;
}
.category #cards .card:hover .price .buy_btn {
  opacity: 1;
  background-color: none;
  position: absolute;
}
.category #cards .card:hover .price h6 {
  left: 15px;
}
.category #seeAllButton {
  min-width: 185px;
  min-height: 46px;
  height: 100%;
  color: white;
  background: linear-gradient(275.99deg, #5B58EB 22%, #858AF4 117.69%);
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 8px;
  border: none;
}
.category #seeAllButton span {
  font-size: 18px;
  font-weight: 400;
}
.category #seeAllButton img {
  width: 20px;
}

@media (min-width: 320px) and (max-width: 768px) {
  nav {
    display: none;
  }
  .one {
    min-height: 380px;
    display: flex;
    justify-content: center;
  }
  .one .header {
    width: 100%;
    gap: 10px;
    padding: 40px;
  }
  .one .header h1 {
    font-size: 38px;
    line-height: 45px;
  }
  .one .header p {
    font-size: 13px;
  }
  .one .header button {
    width: 50%;
  }
  .one .header button a {
    font-size: 15px;
  }
  .two {
    display: flex;
    align-items: center;
  }
  .two .text {
    width: 100%;
  }
  .two .text .text_one h2 {
    font-size: 30px;
  }
  .two .text .text_one p {
    font-size: 13px;
  }
  .two .text a {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 3px;
    font-size: 15px;
    color: white;
    font-family: "Inter", sans-serif;
  }
  .two .text a img {
    width: 20px;
  }
  .two .course_cards {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    gap: 4px;
  }
  .two .course_cards .card {
    height: 230px;
  }
  .two .course_cards .card_top {
    margin-top: 10px;
  }
  .two .ellipse3 {
    left: 0px;
    top: 400px;
  }
  .three {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .three .text {
    width: 100%;
    gap: 10px;
  }
  .three .text h2 {
    font-size: 30px;
  }
  .three .text p {
    font-size: 13px;
  }
  .three .text .learn_btn {
    width: 50%;
  }
  .three .text .learn_btn a {
    font-size: 15px;
  }
  .three .text .start_btn {
    width: 50%;
  }
  .three img {
    width: 100%;
  }
  .three .ellipse4 {
    width: 100%;
    left: 0px;
    top: -100px;
    opacity: 0.5;
  }
  .four .observed-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 10px;
  }
  .four .observed-section .count {
    width: 100%;
    height: 80%;
  }
  .four .observed-section .count h5 {
    font-size: 20px;
  }
  .four .observed-section .count .counter {
    font-size: 50px;
  }
  .five {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }
  .five h4 {
    text-align: start;
  }
  .five .partners {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
  }
  .six {
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
  }
  .six .text {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .six .text h2 {
    font-size: 30px;
  }
  .six .text p {
    font-size: 13px;
  }
  .six .text .learn_btn {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .six .text .learn_btn a {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 3px;
    font-size: 15px;
    color: white;
    font-family: "Inter", sans-serif;
  }
  .six .text .learn_btn a img {
    width: 20px;
  }
  .six .cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
  }
  .six .cards a .card {
    width: 100%;
  }
  .six .cards .card_two {
    width: 100%;
    margin-top: 10px;
    gap: 16px;
  }
  .six .cards .card_one {
    width: 100%;
    gap: 16px;
  }
  .seven {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .seven .accordion {
    width: 100%;
  }
  .seven .accordion h4 {
    font-size: 30px;
  }
  .seven form {
    width: 100%;
  }
  .seven form h4 {
    font-size: 27px;
  }
  .seven form .form .choose input {
    display: none;
  }
  .seven form .form .choose select {
    width: 100%;
  }
  .seven .ellipse7 {
    left: 0px;
    top: 0px;
  }
  footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  footer .ellipse8 {
    left: 0%;
    bottom: 30px;
  }
  footer .connect {
    display: flex;
    width: 100%;
    gap: 10px;
    padding: 0px 0px 0px 0px;
    border: none;
  }
  footer .connect .az_logo {
    width: 300px;
  }
  footer .connect p {
    font-size: 16px;
  }
  footer .link {
    width: 100%;
    padding: 0px 0px 0px 0px;
  }
  footer .link h3 {
    padding: 0px 0px 0px 0px;
    font-size: 30px;
  }
  footer .link p {
    padding: 0px 0px 0px 0px;
    font-size: 16px;
  }
  footer .link form {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 40px 0px 0px;
  }
  footer .link form input {
    width: 100%;
  }
  footer .link form .learn_btn {
    width: 100%;
  }
  footer .link .phone {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: start;
    align-items: start;
    padding: 0px 0px 40px 0px;
    border: none;
  }
  footer .link .phone .text_one {
    width: 100%;
  }
  footer .link .phone .text_one span {
    font-size: 12px;
  }
  .category {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }
  .category h3 {
    font-size: 30px;
  }
  .category p {
    font-size: 16px;
  }
  .category .buttons {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .category .buttons button {
    padding: 5px;
  }
  .category #cards {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
  }
  .category #cards .card {
    max-width: 420px;
    width: 100%;
  }
  .category #cards .card .card_img {
    max-width: 420px;
    width: 100%;
  }
  .category #seeAllButton {
    width: 100%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  nav {
    display: none;
  }
  .one {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
  }
  .one .header {
    width: 82%;
    display: flex;
    gap: 15px;
  }
  .one .header h1 {
    font-size: 45px;
  }
  .two {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .two .text {
    width: 100%;
  }
  .two .text .text_one h2 {
    font-size: 30px;
  }
  .two .text .text_one p {
    font-size: 13px;
  }
  .two .text a {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 3px;
    font-size: 15px;
    color: white;
    font-family: "Inter", sans-serif;
  }
  .two .text a img {
    width: 20px;
  }
  .two .course_cards {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
  }
  .two .course_cards .card {
    width: 100%;
  }
  .two .course_cards .card_top {
    margin-top: 10px;
  }
  .two .ellipse3 {
    left: 0px;
    top: 200px;
  }
  .four {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .four .observed-section {
    width: 90%;
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 10px;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
  .five .partners {
    width: 90%;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: space-between;
  }
  .six {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .six .text {
    width: 90%;
  }
  .six .text h2 {
    font-size: 30px;
  }
  .six .text p {
    font-size: 13px;
  }
  .six .text .learn_btn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .six .text .learn_btn a {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 3px;
    font-size: 15px;
    color: white;
    font-family: "Inter", sans-serif;
  }
  .six .text .learn_btn a img {
    width: 20px;
  }
  .six .cards {
    width: 90%;
  }
  .seven .ellipse7 {
    left: 0px;
    top: 0px;
  }
  footer {
    display: flex;
    gap: 10px;
  }
  footer .ellipse8 {
    left: 0%;
    bottom: 30px;
  }
  footer .connect {
    display: flex;
    width: 100%;
    gap: 10px;
  }
  footer .connect .az_logo {
    width: 300px;
  }
  footer .connect p {
    font-size: 16px;
  }
  footer .link {
    width: 100%;
    padding: none;
  }
  footer .link h3 {
    padding: 0px 0px 0px 0px;
    font-size: 30px;
  }
  footer .link p {
    padding: 0px 0px 0px 0px;
    font-size: 16px;
  }
  footer .link form {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 40px 0px 0px;
  }
  footer .link form input {
    width: 100%;
  }
  footer .link form .learn_btn {
    width: 100%;
  }
  footer .link .phone {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: start;
    align-items: start;
    padding: 0px 0px 40px 0px;
    border: none;
  }
  footer .link .phone .text_one {
    width: 100%;
  }
  footer .link .phone .text_one span {
    font-size: 12px;
  }
  .category {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
  .category h3 {
    font-size: 30px;
  }
  .category p {
    font-size: 16px;
  }
  .category .buttons {
    display: flex;
  }
  .category #cards {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
  }
  .category #cards .card {
    width: 100%;
  }
}
@media (min-width: 1025px) and (max-width: 1330px) {
  .four .observed-section {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .category {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
  .category h3 {
    font-size: 30px;
  }
  .category p {
    font-size: 16px;
  }
  .category .buttons {
    display: flex;
  }
  .category #cards {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .category #cards .card {
    width: 100%;
  }
}
@media (min-width: 1025px) and (max-width: 1200px) {
  .category {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
  .category h3 {
    font-size: 30px;
  }
  .category p {
    font-size: 16px;
  }
  .category .buttons {
    display: flex;
  }
  .category #cards {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .category #cards .card {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */