* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;




    button {
        cursor: pointer;
    }

}

body {
    font-family: 'Inter', sans-serif
}

.ellipse1 {
    position: absolute;
    top: 0px;
    left: 0px;
    max-width: 1093px;
    width: 100%;
}

.ellipse2 {
    position: absolute;
    max-width: 714px;
    width: 100%;
    top: 206px;
    right: 0px;
    opacity: 80%;
}


nav {
    width: 100%;
    min-height: 10px;
    background-color: transparent;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    z-index: 3;



    .logo {
        width: 229px;
    }


    ul {
        width: 444px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 8px;
        padding: 9px;
        border: 1px;
        gap: 13px;

        li {
            a {
                font-size: 16px;
                font-weight: 500;
                color: white;
                text-decoration: none;
            }
        }

    }

    .login {
        display: flex;
        align-items: center;
        gap: 12px;

        .basket {
            width: 44px;
            height: 44px;
            border-radius: 8px;
            border: 1px solid rgba(128, 128, 128, 0.2);
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgba(255, 255, 255, 0.1);


            img {
                width: 20px;
                height: 20px;
            }

        }

        .user {
            width: 100px;
            height: 44px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            background: linear-gradient(102.36deg, #C77EFF 2.45%, #9D2AF3 98.6%);
            color: white;
            font-size: 18px;
            border-radius: 8px;
            border: 1px solid var(--Primitives-Secondary-400, rgba(199, 126, 255, 1));

            img {
                width: 20px;
                height: 20px;
            }

        }
    }

}

.one {
    max-width: 100%;
    min-height: 780px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    background: var(--Colors-Surface-Dark, rgba(1, 2, 20, 1));




    .header {
        width: 45%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        position: absolute;
        z-index: 3;


        h1 {
            font-family: 'Inter', sans-serif;
            font-weight: 500;
            font-size: 100px;
            letter-spacing: 2%;
            line-height: 86px;
            color: white;
        }

        p {
            font-family: 'Inter', sans-serif;
            font-weight: 400;
            font-size: 18px;
            letter-spacing: 0.2px;
            line-height: 25px;
            color: rgba(201, 209, 252, 1);
        }

        button {
            width: 154px;
            height: 46px;
            border-radius: 8px;
            background: linear-gradient(275.99deg, #5B58EB 22%, #858AF4 117.69%);
            border: 1px solid var(--Primitives-Primary-400, rgba(133, 138, 244, 1));

            a {
                color: white;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                font-size: 18px;
                text-decoration: none;



            }
        }

    }

    .bg-logo {
        width: 70%;
        position: absolute;
        right: 0px;
        margin-top: 100px;

        img {
            width: 100%;
            opacity: 1;
        }
    }

}

.two {
    max-width: 100%;
    min-height: 850px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    background: var(--Colors-Surface-Dark, rgba(1, 2, 20, 1));
    position: relative;


    .text {
        width: 100%;
        display: flex;
        align-items: end;
        justify-content: space-between;

        .text_one {
            width: 45%;
            display: flex;
            flex-direction: column;
            gap: 30px;

            h2 {
                font-weight: 500;
                font-size: 58px;
                font-family: 'Inter', sans-serif;
                line-height: 58px;
                letter-spacing: -0.5%;
                line-height: 25.2px;
                color: white;
            }

            p {
                font-family: 'Inter', sans-serif;
                font-weight: 400;
                font-size: 18px;
                letter-spacing: 0.2px;
                line-height: 27px;
                color: rgba(201, 209, 252, 1);
            }
        }

        a {
            width: 40%;
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 4px;
            font-size: 18px;
            color: white;
            font-family: 'Inter', sans-serif;
            text-decoration: none;

        }
    }

    .course_cards {
        width: 90%;
        display: grid;
        grid-template-columns: auto auto auto;
        margin: 60px auto;
        gap: 5px;



        .card {
            margin: 10px auto;
            max-width: 361px;
            width: 100%;
            height: 276px;
            border-radius: 24px;
            padding: 20px;
            font-family: 'Inter', sans-serif;
            box-shadow: -5px 5px 25px 0px rgba(199, 126, 255, 0.3) inset;
            background-color: rgba(4, 2, 6, 0.15);
            cursor: pointer;
            position: relative;
            z-index: 2;
            transition: 1s;

            a {
                width: 100%;
                height: 100%;
                color: white;
                display: flex;
                flex-direction: column;
                gap: 13px;
                text-decoration: none;

                h4 {
                    font-size: 33px;
                    font-weight: 400;
                    line-height: 36px;
                }

                p {
                    font-size: 16px;
                }

                img {
                    position: absolute;
                    width: 68px;
                    right: 10%;
                    bottom: 10%;
                }

            }

            &:hover {
                background: rgb(223, 200, 237);
                background: radial-gradient(circle, rgba(223, 200, 237, 1) 5%, rgba(212, 172, 236, 1) 26%, rgba(204, 150, 236, 1) 42%, rgba(198, 133, 236, 1) 50%, rgba(183, 115, 227, 1) 62%, rgba(165, 94, 216, 1) 74%, rgba(150, 77, 207, 1) 83%, rgba(137, 61, 198, 1) 93%, rgba(134, 59, 194, 1) 96%, rgba(133, 58, 192, 1) 99%, rgba(126, 54, 182, 1) 100%);
                -webkit-box-shadow: 0px 0px 25px 17px rgba(82, 60, 82, 0.59);
                -moz-box-shadow: 0px 0px 25px 17px rgba(82, 60, 82, 0.59);
                box-shadow: 0px 0px 25px 17px rgba(112, 79, 112, 0.59);
                // border: 3px solid red ;
                outline: 3px solid rgba(199, 126, 255, 0.3);
                outline-offset: 20px;
            }

        }

        .card_top {
            margin-top: 60px;
        }

    }


    .ellipse3 {
        position: absolute;
        max-width: 802px;
        width: 100%;
        left: 20%;
        top: 300px;
        z-index: 1;

    }


}

.three {
    max-width: 100%;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    background: var(--Colors-Surface-Dark, rgba(1, 2, 20, 1));
    position: relative;


    .text {
        width: 45%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        z-index: 1;


        .start_btn {
            width: 155px;
            height: 40px;
            border-radius: 100px;
            background: rgba(255, 255, 255, 0.08);
            // border-image-source: linear-gradient(96.31deg, rgba(133, 138, 244, 0.2) 2.42%, rgba(255, 255, 255, 0.2) 54.53%, rgba(77, 60, 198, 0.2) 100%);
            color: rgba(255, 255, 255, 1);
            font-family: 'Inter', sans-serif;
            text-transform: uppercase;
            font-size: 10px;
            letter-spacing: 0.8px;
            border: 1px solid var(--Primitives-Primary-400, rgb(80, 85, 164));
        }

        h2 {
            width: 90%;
            font-weight: 500;
            font-size: 58px;
            font-family: 'Inter', sans-serif;
            line-height: 58px;
            letter-spacing: -0.5%;
            background: linear-gradient(91.53deg, #FFFFFF 0.73%, #A8B3F9 71.74%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            color: transparent;


        }

        p {
            font-family: 'Inter', sans-serif;
            font-weight: 400;
            font-size: 18px;
            letter-spacing: 0.2px;
            line-height: 27px;
            background: var(--Colors-Text-Secondary, rgba(201, 209, 252, 1));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            color: transparent;
        }

        .learn_btn {
            width: 154px;
            height: 46px;
            border-radius: 8px;
            background: linear-gradient(275.99deg, #5B58EB 22%, #858AF4 117.69%);
            border: 1px solid var(--Primitives-Primary-400, rgba(133, 138, 244, 1));

            a {
                color: white;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                font-size: 18px;
                text-decoration: none;

                img {
                    width: 23px;
                }

            }
        }
    }

    img {
        width: 46%;
    }

    .ellipse4 {
        max-width: 1800px;
        min-height: 378px;
        width: 100%;
        position: absolute;
        left: -50px;
        top: -380px;
    }
}


.four {
    max-width: 100%;
    min-height: 360px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--Colors-Surface-Dark, rgba(1, 2, 20, 1));


    .observed-section {

        width: 100%;
        display: grid;
        grid-template-columns: auto auto auto auto;
        justify-content: space-between;

        .spacer {
            width: 100%;
            height: 5vh;
        }




        .count {
            width: 314px;
            height: 177px;
            border-radius: 10px;
            border: 2px solid rgba(255, 255, 255, 0.16);
            color: rgba(255, 255, 255, 1);
            padding: 10px 20px;
            display: flex;
            flex-direction: column;
            background: rgba(255, 255, 255, 0.1);



            h5 {
                font-size: 23px;
                font-family: 'Inter', sans-serif;
                font-weight: 500;
            }

            .counter {
                font-size: 3rem;
                text-align: center;
                font-size: 80px;
                font-weight: 300;
            }

        }

        .count::before {
            content: "";
            border-radius: 10px;
            z-index: -1;
            background: linear-gradient(78.5deg, rgba(1, 2, 20, 0.16) -7.94%, rgba(255, 255, 255, 0.16) 46.62%, rgba(1, 2, 20, 0.16) 101.17%);
        }


    }

}

.five {
    max-width: 100%;
    min-height: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    gap: 30px;
    background: var(--Colors-Surface-Dark, rgba(1, 2, 20, 1));


    h4 {
        font-size: 33px;
        font-weight: 400;
        font-family: 'Inter', sans-serif;
        background: var(--Colors-Text-Secondary, rgba(201, 209, 252, 1));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;

    }

    .partners {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        align-items: center;
        justify-content: space-between;



        img {
            width: 95%;
            transition: 0.2s;
            cursor: pointer;
            transform: 1s;
            z-index: 1;

            &:hover {
               transform: scale(1.2);
            }
        }
    }
}

.six {
    max-width: 100%;
    min-height: 770px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    background: var(--Colors-Surface-Dark, rgba(1, 2, 20, 1));
    position: relative;


    .text {
        width: 43%;
        display: flex;
        flex-direction: column;
        gap: 30px;

        .start_btn {
            width: 155px;
            height: 40px;
            border-radius: 100px;
            background: rgba(255, 255, 255, 0.08);
            // border-image-source: linear-gradient(96.31deg, rgba(133, 138, 244, 0.2) 2.42%, rgba(255, 255, 255, 0.2) 54.53%, rgba(77, 60, 198, 0.2) 100%);
            color: rgba(255, 255, 255, 1);
            font-family: 'Inter', sans-serif;
            text-transform: uppercase;
            font-size: 10px;
            letter-spacing: 0.8px;
            border: 1px solid var(--Primitives-Primary-400, rgb(80, 85, 164));
        }

        h2 {
            width: 90%;
            font-weight: 500;
            font-size: 58px;
            font-family: 'Inter', sans-serif;
            line-height: 58px;
            letter-spacing: -0.5%;
            background: linear-gradient(91.53deg, #FFFFFF 0.73%, #A8B3F9 71.74%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            color: transparent;


        }

        p {
            font-family: 'Inter', sans-serif;
            font-weight: 400;
            font-size: 18px;
            letter-spacing: 0.2px;
            line-height: 27px;
            background: var(--Colors-Text-Secondary, rgba(201, 209, 252, 1));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            color: transparent;
        }

        .learn_btn {
            width: 154px;
            height: 46px;
            border-radius: 8px;
            background: linear-gradient(275.99deg, #5B58EB 22%, #858AF4 117.69%);
            border: 1px solid var(--Primitives-Primary-400, rgba(133, 138, 244, 1));

            a {
                color: white;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                font-size: 18px;
                text-decoration: none;


            }
        }
    }

    .cards {
        width: 53%;
        display: grid;
        grid-template-columns: auto auto;
        gap: 10px;


        .card_one {
            display: flex;
            flex-direction: column;
            gap: 20px;

        }

        .card_two {
            display: flex;
            flex-direction: column;
            margin-top: 120px;
            gap: 20px;
        }


        a {
            text-decoration: none;

            .card {
                // width: 90%;
                max-width: 368px;
                width: 100%;
                height: 268px;
                border-radius: 10px;
                border: 2px solid rgba(255, 255, 255, 0.16);
                overflow: hidden;
                color: rgba(255, 255, 255, 1);
                background: rgba(255, 255, 255, 0.1);
                padding: 20px;
                display: flex;
                flex-direction: column;
                gap: 6px;
                justify-content: center;
                cursor: pointer;
                transition: 1s;
                z-index: 1;

                &:hover {
                    background: var(--Primitives-Primary-600, rgba(89, 75, 224, 1));
                }

                h5 {
                    font-weight: 500;
                    font-size: 23px;
                }

                p {
                    font-size: 17px;
                    font-weight: 400;
                    background: linear-gradient(91.37deg, #FFFFFF 0%, #A8B3F9 124.14%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    color: transparent;
                    line-height: 25px;

                }

            }
        }

        .card::before {
            content: "";
            border-radius: 10px;
            z-index: -1;
            background: linear-gradient(78.5deg, rgba(1, 2, 20, 0.16) -7.94%, rgba(255, 255, 255, 0.16) 46.62%, rgba(1, 2, 20, 0.16) 101.17%);
        }



    }
  
    .ellipse5 {
        max-width: 1182px;
        min-height: 387px;
        width: 100%;
        position: absolute;
        left: 0px;
        top: -400px;
    }
}


.seven {
    max-width: 100%;
    min-height: 770px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    background: var(--Colors-Surface-Dark, rgba(1, 2, 20, 1));
    position: relative;

    .ellipse7 {
        position: absolute;
        max-width: 700px;
        width: 100%;
        left: 300px;
        top: 30px;

    }


    .accordion {
        width: 45%;
        min-height: 90%;
        display: flex;
        flex-direction: column;
        gap: 5px;
        z-index: 1;



        h4 {
            font-weight: 400;
            font-size: 37px;
            background: linear-gradient(91.37deg, #FFFFFF 0%, #A8B3F9 124.14%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            color: transparent;
            letter-spacing: 1px;
            padding-bottom: 10px;
        }

        .accordion-item {

            border: 2px solid rgba(255, 255, 255, 0.16);
            overflow: hidden;
            color: rgba(255, 255, 255, 1);
            background: rgba(255, 255, 255, 0.1);
            padding: 5px;

            .accordion-header {
                .accordion-button {
                    background-color: transparent;
                    color: white;

                    i {
                        color: white;
                    }

                }

                .accordion-button::after {
                    color: white !important;
                }

            }

        }
    }

    .error {
        color: red;
    }

    .input-error {
        border: 1px solid red;
    }

    #thankYouModal {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        z-index: 1000;


    }

    #modalOverlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 999;
    }

    form {
        width: 50%;
        min-height: 90%;
        border: 2px solid rgba(255, 255, 255, 0.16);
        overflow: hidden;
        color: rgba(255, 255, 255, 1);
        background: rgba(255, 255, 255, 0.05);
        padding: 5px;
        border-radius: 16px;
        padding: 40px;
        z-index: 1;

        h4 {
            font-weight: 400;
            font-size: 37px;
            background: linear-gradient(91.37deg, #FFFFFF 0%, #A8B3F9 124.14%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            color: transparent;
            letter-spacing: 1px;
            padding-bottom: 10px;
        }

        .form {
            width: 100%;
            display: grid;
            grid-template-columns: auto auto;
            gap: 10px;

            input {
                width: 100%;
                outline: none;
                padding: 10px;
                border-radius: 8px;
                border: 1px solid rgba(255, 255, 255, 0.16);
                overflow: hidden;
                background: rgba(255, 255, 255, 0.1);
                padding: 10px;
                color: rgba(255, 255, 255, 0.7);


                &::placeholder {
                    letter-spacing: -0.5%;
                    background: linear-gradient(91.53deg, #FFFFFF 0.73%, #A8B3F9 71.74%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    color: transparent;
                }



            }

            .choose {
                width: 100%;
                border-radius: 8px;
                border: 1px solid rgba(255, 255, 255, 0.16);
                overflow: hidden;
                background: rgba(255, 255, 255, 0.1);
                display: flex;
                color: rgba(255, 255, 255, 0.7);

                .ch_input {
                    background-color: transparent;
                    border: none;
                }

                select {
                    background: rgba(255, 255, 255, 0.1);
                    color: rgba(255, 255, 255, 0.7);
                    border: none;
                    outline: none;

                    option {
                        color: rgb(49, 49, 84);
                    }

                }
            }



        }

        textarea {
            width: 100%;
            outline: none;
            padding: 10px;
            border-radius: 8px;
            border: 1px solid rgba(255, 255, 255, 0.16);
            overflow: hidden;
            color: rgba(255, 255, 255, 0.7);
            background: rgba(255, 255, 255, 0.1);
            padding: 10px;
            margin-top: 10px;

            &::placeholder {
                letter-spacing: -0.5%;
                background: linear-gradient(91.53deg, #FFFFFF 0.73%, #A8B3F9 71.74%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                color: transparent;
                outline: none;
            }
        }

        button {
            width: 100%;
            padding: 10px;
            border: 1px;
            border-radius: 8px;
            background: linear-gradient(275.99deg, #5B58EB 22%, #858AF4 117.69%);
            color: rgb(223, 200, 237);
        }

    }

}





@media (min-width: 320px) and (max-width: 768px) {
    nav {
        display: none;
    }

    .one {
        min-height: 380px;
    display: flex;
    justify-content: center;

        .header {
            width: 76%;
            gap: 10px;
     

            h1 {
                font-size: 38px;
                line-height: 45px;

            }

            p {
                font-size: 13px;
            }

            button {
                width: 50%;

                a {
                    font-size: 15px;
                }
            }
        }

    }

    .two {
        display: flex;
        align-items: center;

        .text {
            width: 90%;

            .text_one {
                h2 {
                    font-size: 30px;
                }

                p {
                    font-size: 13px;
                }
            }

            a {
                width: 40%;
                display: flex;
                align-items: center;
                justify-content: end;
                gap: 3px;
                font-size: 15px;
                color: white;
                font-family: 'Inter', sans-serif;

                img {
                    width: 20px;
                }
            }
        }



        .course_cards {
            width: 90%;
            display: grid;
            grid-template-columns: auto;
            gap: 1px;

            .card {

                width: 95%;
                height: 230px;
            }

            .card_top {
                margin-top: 10px;
            }


        }

        .ellipse3 {
            left: 0px;
            top: 400px;
        }

        

    }


    .three {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;

        .text {
            width: 90%;
            gap: 10px;

            h2 {
                font-size: 30px;
            }

            p {
                font-size: 13px;
            }

            .learn_btn {
                width: 50%;

                a {
                    font-size: 15px;
                }
            }

            .start_btn {
                width: 50%;
            }
        }

        img {
            width: 90%;
        }
        .ellipse4 {
            width: 100%;
            left: 0px;
            top: -100px;
            opacity: 0.5;
        }

    }

    .four {

        .observed-section {
            width: 90%;
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            gap: 10px;

            .count {
                width: 100%;
                height: 80%;

                h5 {
                    font-size: 20px;
                }

                .counter {
                    font-size: 50px;
                }
            }



        }
    }

    .five {
        h4 {
            text-align: start;
        }

        .partners {
            width: 90%;
            display: grid;
            grid-template-columns: auto auto;
            align-items: center;
            justify-content: space-between;
            justify-content: center;

        }
    }

    .six {

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        .text {
            width: 90%;
            display: flex;
            flex-direction: column;
            gap: 5px;

            h2 {
                font-size: 30px;
            }

            p {
                font-size: 13px;
            }


            .learn_btn {
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: space-evenly;

                a {
                    display: flex;
                    align-items: center;
                    justify-content: end;
                    gap: 3px;
                    font-size: 15px;
                    color: white;
                    font-family: 'Inter', sans-serif;

                    img {
                        width: 20px;
                    }
                }
            }
        }

        .cards {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .card {
                width: 100%;
                margin: 1px auto;
            }

            .card_two {
                margin-top: 10px;
                gap: 16px;
            }

            .card_one {
                gap: 16px;
            }

        }
    }

    .seven {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .accordion {
            width: 90%;

            h4 {
                font-size: 30px;
            }

        }

        form {
            width: 90%;

            h4 {
                font-size: 27px;
            }

            .form {
                .choose {
                    input {
                        display: none;
                    }

                    select {
                        width: 100%;
                    }
                }
            }

        }
        .ellipse7 {
            left: 0px;
            top: 0px;
        }
    }


}


@media (min-width: 769px) and (max-width: 1024px) {
    nav {
        display: none;
    }
.one{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:500px ;
    .header{
        width: 82%;
        display: flex;
        gap: 15px;
        h1{
            font-size: 45px;
        }
    }
}
    .two {
        display: flex;
        flex-direction: column;
        align-items: center;

        .text {
            width: 90%;

            .text_one {
                h2 {
                    font-size: 30px;
                }

                p {
                    font-size: 13px;
                }
            }

            a {
                width: 25%;
                display: flex;
                align-items: center;
                justify-content: end;
                gap: 3px;
                font-size: 15px;
                color: white;
                font-family: 'Inter', sans-serif;

                img {
                    width: 20px;
                }
            }
        }

        .course_cards {
            width: 90%;
            display: grid;
            grid-template-columns: auto auto;
            gap: 10px;

            .card {
                width: 100%;
            }

            .card_top {
                margin-top: 10px;
            }

        }

        .ellipse3 {
            left: 0px;
            top: 200px;
        }

    }

    .four {
        display: flex;
        align-items: center;
        justify-content: center;

        .observed-section {
            width: 90%;
            display: grid;
            grid-template-columns: auto auto;
            margin-top: 10px;
            gap: 10px;
            align-items: center;
            justify-content: center;

        }
    }

    .five {
        .partners {
            width: 90%;
            display: grid;
            grid-template-columns: auto auto auto;
            align-items: center;
            justify-content: space-between;

        }
    }

    .six {
        display: flex;
        flex-direction: column;
        align-items: center;

        .text {
            width: 90%;


            h2 {
                font-size: 30px;
            }

            p {
                font-size: 13px;
            }


            .learn_btn {
                display: flex;
                align-items: center;
                justify-content: space-evenly;

                a {
                    width: 25%;
                    display: flex;
                    align-items: center;
                    justify-content: end;
                    gap: 3px;
                    font-size: 15px;
                    color: white;
                    font-family: 'Inter', sans-serif;

                    img {
                        width: 20px;
                    }
                }
            }
        }


        .cards {
            width: 90%;
        }

    }

    .seven{
        .ellipse7 {
            left: 0px;
            top: 0px;
        }
    }


}

@media (min-width: 1025px) and (max-width: 1330px) {
    .four {
        .observed-section {
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
        }
    }


}