<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="./style.js"></script>
   
</head>

<body>



    <div class="login_register_pagination">

        <a href="/index.html">
            <img src="/image/login/login.png" alt="err">
            <span>Home page</span>
        </a>
    </div>


    <section class="login_register">
        <img class="ellipse1Login" src="/image/login/ellipse1.png" alt="err">
        <img class="ellipse12" src="/image/home/ellipse12.png" alt="">



        <div class="text">
            <form class="loginForm" id="loginForm">
                <h3>Log In</h3>
                <p>Log in to your personal profile to keep track of your courses, progress and more.</p>
                
                <input type="email" id="email" name="email" placeholder="Email">

                <div class="password-wrapper">
                    <input type="password" id="password" placeholder="Password" required>
                    <img width="20" class="toggle-password" onclick="togglePassword()" src="/image/login/eye.png" alt="">
                </div>


                <a href="/components/forgetPassword/index.html">Forget password?</a>
                <button type="submit">Log In</button>
            </form>

            <div class="register">
                <span>Don’t have an account ?</span>
                <a href="/components/register/index.html">Register</a>
            </div>
        </div>

        <div class="bg-logo">
            <img src="/image/login/logo.png" alt="err">
        </div>

    </section>

</body>

</html>