<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <!DOCTYPE html>
    <html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/css/style.css">
        <script defer src="./style.js"></script>
       
    </head>
    
    <body>
    
    
    
        <div class="login_register_pagination">
    
            <a href="/components/login/index.html">
                <img src="/image/login/login.png" alt="err">
                <span>Go Back</span>
            </a>
        </div>
    
    
        <section class="login_register">
    
            <div class="text">
                <form class="registerForm" id="registerForm">
                    <h3>Forgot Password?</h3>
                    <p>Submit your e-mail account to get a confirmation code.</p>

                    <input type="email" id="email" name="email" placeholder="Email">
                    <button type="submit">Send Code</button>
                </form>
    
             
            </div>
    
            <div class="bg-logo">
                <img src="/image/login/logo.png" alt="err">
            </div>
    
        </section>
    
    </body>
    
    </html>
</body>
</html>