* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;

    button {
        cursor: pointer;
    }

}

body {
    font-family: 'Inter', sans-serif;

}


.pagination {
    width: 100%;
    min-height: 170px;
    height: 100%;
    background: var(--Colors-Surface-Dark, rgba(1, 2, 20, 1));
    display: flex;
    justify-content: start;
    align-items: end;


    .text {
        width: 100%;
        padding: 0px 0px 0px 40px;
        a {
            color: var(--Primitives-Primary-200, rgba(201, 209, 252, 1));
            text-decoration: none;
            z-index: 1;


        }
    }
}

.about {
    max-width: 100%;
    min-height: 550px;
    padding: 40px;
    background: var(--Colors-Surface-Dark, rgba(1, 2, 20, 1));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    position: relative;


    h3 {
        font-size: 47px;
        font-weight: 500;
        background: linear-gradient(91.53deg, #FFFFFF 0.73%, #A8B3F9 71.74%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;

    }

    .lorem {
        font-size: 16px;
        font-weight: 400;
        color: var(--Colors-Text-Secondary, rgba(201, 209, 252, 1));
        text-align: center;
        line-height: 23px;

    }



    .about_one {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;


        .text {
            width: 45%;
            display: flex;
            flex-direction: column;
            gap: 30px;
            z-index: 1;


            .start_btn {
                width: 160px;
                height: 40px;
                border-radius: 100px;
                background: rgba(255, 255, 255, 0.08);
                // border-image-source: linear-gradient(96.31deg, rgba(133, 138, 244, 0.2) 2.42%, rgba(255, 255, 255, 0.2) 54.53%, rgba(77, 60, 198, 0.2) 100%);
                font-family: 'Inter', sans-serif;
                text-transform: uppercase;
                letter-spacing: 0.8px;
                border: 1px solid var(--Primitives-Primary-400, rgb(80, 85, 164));
                margin: 1px auto;
                display: flex;
                align-items: center;
                justify-content: center;
                a{
                    font-size: 10px;
                    color: rgba(255, 255, 255, 1);
                    text-decoration: none;

                }
            }

            h2 {
                width: 90%;
                font-weight: 500;
                font-size: 58px;
                font-family: 'Inter', sans-serif;
                line-height: 58px;
                letter-spacing: -0.5%;
                background: linear-gradient(91.53deg, #FFFFFF 0.73%, #A8B3F9 71.74%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                color: transparent;


            }

            p {
                font-family: 'Inter', sans-serif;
                font-weight: 400;
                font-size: 18px;
                letter-spacing: 0.2px;
                line-height: 27px;
                background: var(--Colors-Text-Secondary, rgba(201, 209, 252, 1));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                color: transparent;
            }

            .learn_btn {
                width: 154px;
                height: 46px;
                border-radius: 8px;
                background: linear-gradient(275.99deg, #5B58EB 22%, #858AF4 117.69%);
                border: 1px solid var(--Primitives-Primary-400, rgba(133, 138, 244, 1));

                a {
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    font-size: 19px;
                    text-decoration: none;

                    img {
                        width: 23px;
                    }

                }
            }
        }

        img {
            width: 46%;
        }

        .ellipse4 {
            max-width: 1800px;
            min-height: 378px;
            width: 100%;
            position: absolute;
            left: -50px;
            top: -210px;
        }
    }
}


.six {
    position: relative;

    .ellipse5 {
        position: absolute;

    }

    .cards {
        z-index: 1;

    }

    .text {
        z-index: 1;
    }
}


@media (min-width: 320px) and (max-width: 768px) {


    .about {
        display: flex;
        flex-direction: column;
        align-items: start;

        .lorem {
            text-align: start;
        }

        .about_one {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;

            .text {
                width: 100%;
                gap: 10px;

                h2 {
                    font-size: 30px;
                }

                p {
                    font-size: 13px;
                }

                .learn_btn {
                    width: 50%;

                    a {
                        font-size: 15px;
                    }
                }

                .start_btn {
                    width: 50%;
                }
            }

            img {
                width: 100%;
            }

            .ellipse4 {
                width: 100%;
                left: 0px;
                top: -100px;
                opacity: 0.5;
            }

        }
    }
}